
{% extends "base.html" %}

{% block head %}
<title>The Page</title>
{% endblock %}

{% block body %}
    <h1>Hello World</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem dolorum asperiores deleniti, atque eius tempora omnis suscipit ex, nam culpa illum. Architecto officia delectus, eius ut voluptates dicta quibusdam recusandae adipisci optio, facilis voluptas consectetur ipsam nobis accusamus fugiat labore! Corporis tempore iste suscipit quis ipsam eveniet a dolor natus. Totam quisquam voluptatibus aut, esse incidunt consequatur modi dolorum nisi, quaerat numquam beatae amet ab, perferendis excepturi! Assumenda ab totam ipsa expedita incidunt perspiciatis eos accusamus quam a odit iure consectetur tempore pariatur vitae aliquid minima doloribus velit temporibus ipsum animi, nostrum, facere soluta! Provident assumenda error ipsam doloribus explicabo!</p>
{% endblock %}